*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  .myslides {display: none;};
  img {vertical-align: middle;}
}

html,body {scroll-behavior: smooth;
          height: 100%
}

li,a, button, h1, h3 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px
  color: lightsteelblue;
  text-decoration: none
}

/* NAVIGATION BAR  */

header {display: flex;
        justify-content:flex-end;
        align-items: center;
        padding: 2px 3%;
        position: fixed;
        width: 100%;
        height: 100px;
        width: 100%;
        height: 86px;
        background: rgba(255, 255, 255, 0.9);
        margin-top: 0px;
}

.logo , .services-text , .services-image{
  cursor:pointer;
  margin-right: auto;
}

.nav_links {list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  color: lightsteelblue;
}


.nav_links li a {
  transition: all 0.5s ease 0s;
  color: darkslategrey;
}

.nav_links li a:hover {
  color: slategrey;
}

button {padding: 9px 25px;
        background-color: dodgerblue;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.8s ease 0s;
        margin-left: 15px;
}

button:hover {
  background-color: skyblue
}


/* END OF NAVBAR */

/* HEADER TEXT */

.opener-text-container{
  width: 100%;
  background-color: ghostwhite;
  text-align: center;
}

.contact-header {
  line-height: 30px;
  margin-left: 5%;
}

/* END OF HEADER TEXT */


/* CONTACT ICONS */

.contact-icons {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 11.5%;
    margin-right: 12%;
}

.contact-text-container{
  width: 100%;
  background-color: ghostwhite;
  text-align: center;
  line-height: 30px;
}

.contact-text{
  margin-left: 7%;
  margin-right: 7%;
}




/* FOOTER */

#footer-container {
  min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#footer {
  text-align: center;
  background-color: black;
  position: relative;
  height: 150px;
  margin-top: -100px;
  clear: both;
}

.footer-text {
  text-align: center;
  color: white;
  line-height: 20px
}

/* END FOOTER */
